<app-inner-page>
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="section-title" data-aos="zoom-out">
        <h2>Getting Started</h2>
        <p>Get up to speed fast!</p>
      </div>

      <p>
        To get started we need to connect your Spotify account. This is very easy, just follow the steps on the
        screen!<br>
        You can use the website after.
      </p>
      <p class="text-right mt-3">
        <button class="btn btn-primary" (click)="login()">
          <fa-icon *ngIf="!isLoading; else loading" [icon]="spotify" size="2x"><br>Authenticate</fa-icon>
          <ng-template #loading>
            <fa-icon [icon]="loadingIcon" [spin]="true" size="2x"></fa-icon>
          </ng-template>
        </button>
      </p>


    </div>
  </section>
</app-inner-page>
