<div class="card">
  <div class="header">
    <div class="avatar">
      <img *ngIf="images" [src]="images[0].url" alt="Profile picture">
    </div>
  </div>
  <div class="card-body">
    <div class="user-meta has-text-centered">
      <h3 class="title">{{username}}</h3>
      <h5 class="followers"> <fa-icon [icon]="followersIcon" size="lg"></fa-icon> {{followers?.total}}</h5>
    </div>
    <div class="user-bio has-text-centered"></div>
    <div class="action text-center mt-5">
      <a [href]="externalUrls?.spotify" target="_blank" class="btn btn-outline-primary">View profile on Spotify</a>
    </div>
  </div>
</div>
