# Nx 18 enables using plugins to infer targets by default
# This is disabled for existing workspaces to maintain compatibility
# For more info, see: https://nx.dev/concepts/inferred-tasks
NX_ADD_PLUGINS=false

DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=example
DB_PORT=27017
DB_DATABASE=spotifymanager
