@if (isLoading) {
  <div class="flex justify-center h-screen items-center">
    <app-loading [isLoading]="true"></app-loading>
  </div>
} @else {
  <div class="container mx-auto mt-3">
    <div class="grid grid-cols-3 gap-4">
      <h2>Current Remixed Playlist</h2>
      <h2>Synced Result</h2>
      <h2>Current Original Playlist</h2>
    </div>
    <div class="grid grid-cols-3 gap-4">
      <p>Placeholder 1</p>
      <div>
        @for (result of syncedResult; track result) {
          <app-spotify-track [track]="result[1]"></app-spotify-track>
        }
      </div>
      <p>Placeholder 3</p>
    </div>
  </div>
}
