@if (isLoading) {
  <div class="flex justify-center h-screen items-center">
    <app-loading [isLoading]="true"></app-loading>
  </div>
} @else {
  <div class="container mx-auto my-3">
    <div class="grid grid-cols-2 gap-4">
      <h2>Missing tracks in Original Playlist</h2>
      <h2>Draft Synced Playlist</h2>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div>
        @for (diff of this.missingSongsInOriginal; track diff) {
          <div class="my-2">
            <app-spotify-track
              imageClasses="w-20"
              [ngClass]="{'added': diff[0] === 1, 'deleted': diff[0] === -1, 'unchanged': diff[0] === 0}"
              [isHorizontalLayout]="true"
              [track]="diff[1]"></app-spotify-track>
          </div>
        }
      </div>

      <div>
        @for (track of draftSyncedPlaylist; track track) {
          <div class="my-2">
            <app-spotify-track
              imageClasses="w-20"
              [ngClass]="{'added': track[0] === 1, 'deleted': track[0] === -1, 'unchanged': track[0] === 0}"
              [isHorizontalLayout]="true"
              [track]="track[1]"></app-spotify-track>
          </div>
        }
      </div>
    </div>
  </div>
}
