<!--
@if (isComparisonLoading) {
  <div class="flex flex-col justify-center items-center h-screen">
    <app-loading></app-loading>
    Comparing playlists...
  </div>
} @else {
  <div class="container mx-auto my-3 pb-16">
    <div class="grid md:grid-cols-2 gap-4">
      <div>
        <h2>Missing tracks in Remixed Playlist</h2>
        <p>These are the tracks that are not in the remixed playlist, but are in the original.</p>
      </div>
      <div>
        <h2>Preview Synced Playlist</h2>
        <p>A preview of what the playlist will look like after syncing.</p>
      </div>
    </div>
    <div class="grid md:grid-cols-2 gap-4">
      <div>
        @for (diff of this.missingSongsInOriginal; track diff) {
          <div class="my-2">
            <app-spotify-track
              imageClasses="w-full md:w-32"
              [ngClass]="{
                'added': diff[0] === DiffIdentifier.ADDED_IN_REMIX || DiffIdentifier.ADDED_IN_ORIGINAL,
                'deleted': diff[0] === DiffIdentifier.REMOVED_IN_REMIX || DiffIdentifier.REMOVED_IN_ORIGINAL,
                'unchanged': diff[0] === DiffIdentifier.UNCHANGED
              }"
              [isHorizontalLayout]="true"
              [showPreview]="true"
              [track]="diff[1]">
              <button class="btn btn-success glass" (click)="addTrackToPreviewSyncedPlaylist(diff)">
                Add to Preview
                <fa-icon [icon]="arrowRightIcon"></fa-icon>
              </button>
            </app-spotify-track>
          </div>
        }
      </div>

      <div>
        @for (track of draftSyncedPlaylist; track track) {
          <div class="my-2">
            <app-spotify-track
              imageClasses="w-full md:w-32"
              [ngClass]="{
                'added': track[0] === DiffIdentifier.ADDED_IN_REMIX || DiffIdentifier.ADDED_IN_ORIGINAL,
                'deleted': track[0] === DiffIdentifier.REMOVED_IN_REMIX || DiffIdentifier.REMOVED_IN_ORIGINAL,
                'unchanged': track[0] === DiffIdentifier.UNCHANGED
              }"
              [isHorizontalLayout]="true"
              [reverse]="true"
              [showPreview]="true"
              [track]="track[1]">
              @if (track[0] !== DiffIdentifier.UNCHANGED) {
                <button class="btn btn-error glass" (click)="removeTrackFromPreviewSyncedPlaylist(track)">
                  Remove from Preview
                  <fa-icon [icon]="arrowLeftIcon"></fa-icon>
                </button>
              }
            </app-spotify-track>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="fixed bottom-0 w-full bg-base-300/90 p-4 flex justify-center border-t border-t-accent">
    <button class="btn btn-primary w-28" (click)="syncPlaylist()">
      @if (isSyncing) {
        <app-loading></app-loading>
      }
      Sync!
    </button>
  </div>
}
-->
