<app-error [error]="error"></app-error>
<section>
  <div class="section-title">
    <h2>Playlist Merger</h2>
    <p>Merge multiple playlists together!</p>
  </div>

  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control mb-5" placeholder="New playlist name" name="newPlaylist"
               [(ngModel)]="playlistName">
      </div>
      <div class="col-3 text-right">
        <fa-icon [icon]="refreshIcon" (click)="getPlaylist()" size="lg" [spin]="isLoading"></fa-icon>
      </div>
    </div>


    <div *ngIf="playlists">
      <!-- ======= Services Section ======= -->
      <div class="row m-4">
        <div class="col-6 col-md-4 mt-3" *ngFor="let playlist of playlists.items; let indexOfPlaylist = index">
          <div class="icon-box" data-aos="fade-up">
            <div class="d-flex justify-content-center">
              <img [src]="playlist.images[0] ? playlist.images[0].url : 'https://picsum.photos/200/200?random=' + indexOfPlaylist"/>
            </div>
            <h4 class="title mt-3 text-center text-break"><a [href]="playlist.external_urls.spotify"
                                                             target="_blank">{{playlist.name}}</a></h4>
            <p class="description text-center">Owner: {{playlist.owner.display_name}}</p>
            <div class="row mt-3">
              <div class="col d-flex justify-content-center">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck{{indexOfPlaylist}}"
                         [value]="playlist.id" (change)="registerPlaylist(playlist.id, $event)">
                  <label class="custom-control-label" for="customCheck{{indexOfPlaylist}}"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="playlists.next" class="text-center">
        <p class="btn btn-link" (click)="getMorePlaylists()">Load more results..
          <fa-icon *ngIf="isLoading" [icon]="loading" spin="true"></fa-icon>
        </p>

      </div>
    </div>
    <div class="d-flex justify-content-center">
      <fa-icon *ngIf="isLoading" [icon]="loading" spin="true" size="lg"></fa-icon>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button class="btn btn-primary" type="submit">Merge!</button>
    </div>
  </form>
</section>
