<div class="container mx-auto mt-3">
  @if (!hasUserPreferencesSet) {
    <div role="alert" class="alert alert-info my-3">
      <fa-icon [icon]="informationIcon"></fa-icon>
      <div>
        <p class="font-semibold">No preferences found.</p>
        <p>
          It looks like we don't know your preferences yet! Please set your preferences below to personalize your Spotify Manager experience.<br>
          After providing your preferences, you will be able to use all of the features.
        </p>
      </div>
    </div>
  }

  <h1>Settings Page</h1>
  <p>Manage your preferences here to tweak your experience to your liking!</p>

  <div class="grid grid-cols-3 gap-4 mt-10">
    <div class="col-span-2">
      <div class="card bg-base-300 shadow-xl">
        <div class="card-body">
          <h2 class="card-title font-semibold text-white">Email Preferences</h2>
          <p>Let us know how often you would like to receive email notifications.</p>


          <form #emailPreferencesForm="ngForm" class="rounded border mt-5 p-4 border-base-100">
            <p>Original Playlist Update notifications:</p>

            <div>
              <div class="grid w-1/2 grid-cols-4 gap-2 rounded-xl bg-base-100 mt-2">
                @for (frequencyOption of availableEmailFrequencyOptions; track frequencyOption) {
                  <div>
                    <input
                      type="radio"
                      name="original-playlist-updated-notification"
                      [id]="'original-playlist-update-' + frequencyOption"
                      [value]="frequencyOption"
                      [(ngModel)]="userPreferences.originalPlaylistChangeNotificationFrequency"
                      class="peer hidden" />
                    <label
                      [for]="'original-playlist-update-' + frequencyOption"
                      class="transition-all duration-200 capitalize block cursor-pointer select-none rounded-xl p-1 text-center peer-checked:bg-secondary peer-checked:font-semibold peer-checked:text-secondary-content">{{ frequencyOption }}</label>
                  </div>
                }
              </div>
            </div>
            <div class="flex justify-end">
              <button class="btn btn-primary btn-sm w-32 mt-5" (click)="saveEmailPreferences()">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


