<div class="bg-dark">
  <img class="img-fluid position-absolute end-0" src="assets/img/hero/hero-bg.png" alt=""/>
  <section>
    <div class="container">
      <div class="row align-items-center py-lg-8 py-6">
        <div class="col-lg-6 text-center text-lg-start">
          <h1 class="text-white fs-5 fs-xl-6">{{title}}</h1>
          <p class="text-white py-lg-3 py-2">{{text}}</p>
          <div class="d-sm-flex align-items-center gap-3">
            <ng-content></ng-content>
          </div>
        </div>
        <div class="col-lg-6 text-center text-lg-end mt-3 mt-lg-0">
          <img class="img-fluid" src="assets/img/hero/hero-graphics.png" alt=""/>
        </div>
      </div>
    </div>
  </section>
</div>
