<section class="container">
  <div class="row">
    <div class="col-3">
      <h3>Guide</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item section-title">Connect</li>
        <li class="list-group-item section-title">Remixing a playlist TODO</li>
      </ul>
    </div>
    <div class="col-9">
      <h1>Connecting your account</h1>
      <p>
        To get started we need to connect your Spotify account. <br>
        This is very easy, just click the button below and follow the steps on the screen!<br>
        After logging in you will be redirected back to this website, which you can then use.
      </p>
      <p class="d-flex justify-content-end mt-3">
        <app-button text="Authenticate" icon="fab Spotify" (click)="login()"></app-button>
      </p>
    </div>
  </div>
</section>

