<section class="container mx-auto px-4">
  <app-tabs
    [labels]="['Connect', 'Remixing a playlist TODO']"
    [templates]="[connect, remixing]"
    [vertical]="true"
  >
    <ng-template #connect>
      <h1 class="text-xl font-bold mb-4">Connecting your account</h1>
      <p class="mb-4">
        To get started we need to connect your Spotify account. <br>
        This is very easy, just click the button below and follow the steps on the screen!<br>
        After logging in you will be redirected back to this website, which you can then use.
      </p>
      <p class="flex justify-end mt-3" data-aos="fade">
        <button class="btn btn-primary" (click)="login()">Authenticate</button>
      </p>
    </ng-template>
    <ng-template #remixing>
      <h1 class="text-xl font-bold mb-4">Remixing a playlist</h1>
      <div class="flex flex-col justify-center items-center">
        <span class="italic">History of a remixed playlist</span>
        <app-mermaid class="border border-base-300 rounded p-3" [rawCode]="playlistEvolutionGraph"></app-mermaid>
      </div>
      <p class="mt-3">
        The main feature of our application is the ability to 'remix' a playlist. Here's how it works:
        <br>
        <br>
        Initially, a copy of the original playlist is made. This copy, which we call the 'remixed' playlist, is where you can make your own changes - add or remove songs as you wish.
        <br>
        <br>
        While you're using your remixed playlist, the original playlist can still be updated by the original creator.<br>
        But don't worry! You won't miss out on any new songs added to the original playlist, because our application allows you to sync your remixed playlist with the original one at any time.
        <br>
        <br>
        When you choose to sync, the application will compare the latest versions of both playlists. Songs that are present in both playlists are automatically included in the newly synced remixed playlist.
        <br>
        <br>
        For songs that have been added or removed in the remixed playlist compared to the original, the application will present you with a comparison screen. Here, you can review the differences and decide which changes you want to keep in your remixed playlist.
      </p>
    </ng-template>
  </app-tabs>
</section>


