<section class="container mx-auto px-4">
  <app-tabs
    [labels]="['Connect', 'Remixing a playlist TODO']"
    [templates]="[connect, remixing]"
    [vertical]="true"
  >
    <ng-template #connect>
      <h1 class="text-xl font-bold mb-4">Connecting your account</h1>
      <p class="mb-4">
        To get started we need to connect your Spotify account. <br>
        This is very easy, just click the button below and follow the steps on the screen!<br>
        After logging in you will be redirected back to this website, which you can then use.
      </p>
      <p class="flex justify-end mt-3" data-aos="fade">
        <button class="btn btn-primary" (click)="login()">Authenticate</button>
      </p>
    </ng-template>
    <ng-template #remixing>
      <h1 class="text-xl font-bold mb-4">Remixing a playlist</h1>
      <p class="mb-4">
        <!--        todo-->
        To do: build this text
      </p>
      <app-mermaid [rawCode]="playlistEvolutionGraph"></app-mermaid>
    </ng-template>
  </app-tabs>
</section>


