<app-error [error]="error"></app-error>
<section>
  <div class="section-title">
    <h2>It's time to change it up!</h2>
    <p>Remix a playlist</p>
  </div>
  <p>Do you like a someone's playlist but want to remove some songs from it? Now you can!<br/>
    With this page you can create a copy of this playlist. After that, you can remove the songs you dislike in Spotify.
    <br>
    This copied playlist can then be synchronized with the original with a press of a button, so you can keep up with
    the newest songs!</p>

  <app-playlist-overview [playlists]="playlists" (requestMore)="getMorePlaylists()"
                         (actionClick)="remixPlaylist($event)">
    <ng-template #action>
      <button class="btn btn-primary" type="button">
        <fa-icon [icon]="!isLoading ? remixIcon : loading" [spin]="isLoading"></fa-icon>
      </button>
    </ng-template>
  </app-playlist-overview>
</section>
