<section class="container mx-auto mb-10 mt-3">
  <h1>It's time to change it up!</h1>
  <p class="mb-3">Remix a playlist</p>
  <p>
    Do you like a someone's playlist but want to change it a little? Now you can!<br />
    With this page you can create a copy of this playlist. After that, you can add or remove any song to it.
    <br>
    This copied playlist can then be synchronized with the original with a press of a button, so you can keep up with
    the new songs in the original playlist!
  </p>

  <div class="grid grid-cols-3 gap-10 mt-10">
    @for (playlist of playlistsNotOwnedByUser; track playlist) {
      <app-spotify-playlist data-aos="fade" [playlist]="playlist">
        <div class="flex justify-center my-5">
          <button class="btn btn-primary" type="button" (click)="remixPlaylist(playlist)">
            @if (loadingPlaylists[playlist.id]) {
              <app-loading></app-loading>
            } @else {
              <fa-icon [icon]="remixIcon"></fa-icon>
            }
            Remix!
          </button>
        </div>
      </app-spotify-playlist>
    }
  </div>

  @if (isLoading) {
    <div class="flex justify-center my-20">
      <app-loading></app-loading>
    </div>
  }
</section>
