<div *ngIf="playlists">
  <div class="row m-4">
    <div class="col-12 col-md-4 mt-3" *ngFor="let playlist of playlists.items; let indexOfPlaylist = index">
      <app-box
        [image]="playlist.images[0] ? playlist.images[0].url : 'https://picsum.photos/200/200?random=' + indexOfPlaylist"
      >
        <h4 class="title mt-3 text-center text-break"><a [href]="playlist.external_urls.spotify"
                                                         target="_blank">{{playlist.name}}</a></h4>
        <p class="description text-center">Owner: {{playlist.owner.display_name}}</p>
        <div class="row mt-3">
          <div class="col d-flex justify-content-center" (click)="onActionClick(playlist)">
            <ng-container *ngTemplateOutlet="action"></ng-container>
          </div>
        </div>
      </app-box>
    </div>
  </div>
  <div *ngIf="playlists.next" class="text-center">
    <p class="btn btn-link" (click)="requestMorePlaylists()">Load more results..
      <fa-icon *ngIf="isLoading" [icon]="loading" [spin]="true"></fa-icon>
    </p>

  </div>
</div>
