@tailwind base;
@tailwind components;
@tailwind utilities;

//@import "aos/dist/aos.css";
@import "@fortawesome/fontawesome-free/css/all.css";


:root{
  --leftbar-width: 240px;
  --rounded-btn: 0.25rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 2s;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-2xl font-bold;
}

h3 {
  @apply text-xl font-bold;
}

h4 {
  @apply text-lg font-bold;
}

h5 {
  @apply font-bold;
}


app-remix, app-sync-remixed-playlist-page {
  a {
    @apply text-accent;
  }
}


.container {
  @apply mx-auto;
}

.active-link {
  @apply bg-base-content/10;
}

/**
 * Styling for markdown content
 */
markdown {
  ul {
    @apply list-disc list-inside;

    li ul {
      @apply list-decimal list-inside ml-4;
    }
  }

  p {
    @apply mb-3;
  }

  a {
    @apply text-accent underline;
  }
}
