<div class="container mx-auto mt-3">
  @if (!hasUserPreferencesSet && !isInitializing) {
    <div role="alert" class="alert alert-info my-3">
      <fa-icon [icon]="informationIcon"></fa-icon>
      <div>
        <p class="font-semibold">No preferences found.</p>
        <p>
          It looks like we don't know your preferences yet! Please set your preferences below to personalize your
          Spotify Manager experience.<br>
          After providing your preferences, you will be able to use all of the features.
        </p>
      </div>
    </div>
  }

  <h1>Settings Page</h1>
  <p>Manage your preferences here to tweak your experience to your liking!</p>

  <div class="flex justify-end">
    <button class="btn btn-primary btn-sm w-32 mt-5" (click)="saveUserPreferences()"><fa-icon [icon]="saveIcon"></fa-icon> Save</button>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-5 gap-4 mt-10">
    <div class="lg:col-span-3">
      <div class="card bg-base-300 shadow-xl">
        <div class="card-body">
          <h2 class="card-title font-semibold text-white">Email Preferences</h2>
          <p>Let us know how often you would like to receive email notifications.</p>


          <form #emailPreferencesForm="ngForm" class="rounded border mt-5 p-4 border-base-100">
            <p class="text-gray-300">Original Playlist Update notifications:</p>
            <p>Determines the frequency of emails you will receive when the original playlist of one of your remixes has
              updated.</p>
            <div>
              <div class="grid lg:w-1/2 grid-cols-4 gap-0 lg:gap-2 rounded bg-base-100 mt-2">
                @for (frequencyOption of availableEmailFrequencyOptions; track frequencyOption) {
                  <div>
                    <input
                      type="radio"
                      name="original-playlist-updated-notification"
                      [id]="'original-playlist-update-' + frequencyOption"
                      [value]="frequencyOption"
                      [(ngModel)]="userPreferences.originalPlaylistChangeNotificationFrequency"
                      class="peer hidden" />
                    <label
                      [for]="'original-playlist-update-' + frequencyOption"
                      class="transition-all duration-200 capitalize block cursor-pointer select-none rounded p-1 text-center peer-checked:bg-primary peer-checked:font-semibold peer-checked:text-secondary-content">{{ frequencyOption }}</label>
                  </div>
                }
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="lg:col-span-2">
      <div class="card bg-base-300 shadow-xl">
        <div class="card-body">
          <h2 class="card-title font-semibold text-white">Ignored Playlists from Notifications</h2>
          <p>
            You might want to exclude some remixes from the Original Playlist Update notifications, especially if they
            are a remix of a personalized Spotify playlist.<br>
            Select your playlists below to exclude/include them from the notifications.
          </p>
        </div>

        @for (remix of remixes?.items; track remix.id) {
          <div class="bg-base-100 rounded m-4">
            <div class="flex">
              <div class="avatar">
                <div class="w-40 rounded">
                  <a [href]="remix.external_urls.spotify" target="_blank">
                    <img
                      [ngSrc]="remix.images[0].url"
                      [width]="remix.images[0].width"
                      [height]="remix.images[0].height"
                      priority="high"
                      alt="Playlist Picture" />
                  </a>
                </div>
              </div>
              <div class="p-4 w-full">
                <h4> {{ remix.name }}</h4>
                <div class="form-control">
                  <label class="label cursor-pointer">
                    <span class="label-text">{{ getLabelTextForSwitch(remix.id) }}</span>
                    <input type="checkbox" class="toggle toggle-success ml-2"
                           [checked]="isNotificationEnabled(remix.id)"
                           (change)="toggleNotification(remix.id, $event.target)" />
                  </label>
                </div>
              </div>
            </div>

          </div>
        } @empty {
          <p class="text-gray-500 p-4 text-center">No remixes found.</p>
          @if(isLoading){
            <app-loading class="flex justify-center"></app-loading>
          }
        }
      </div>
    </div>
  </div>
</div>


