$inserted-color: #92e592;
$removed-color: #e59494;
$equal-color: white;

.equal {
  background: $equal-color;
}

.removed {
  background: $removed-color;

  fa-icon {
    color: dimgray;
    transition: color 250ms ease-out;

    &:hover {
      color: white;
    }
  }
}

.inserted {
  background: $inserted-color;
}

.actions-container {
  background: #e5e5e5;
  cursor: pointer;

  .add-back-action {
    color: $inserted-color;
  }

  .keep-removed-action {
    color: $removed-color;
  }
}

.line-number {
  color: #646464;
}
