<app-error [error]="error"></app-error>
<div class="d-flex my-2 justify-content-end">
  <button class="btn btn-primary" (click)="syncPlaylist()">Sync!</button>
</div>
<div class="container-fluid">
  <div *ngIf="changesInFork && changesInOriginal" class="row">
    <div class="col">
      <p>Changes of</p>
      <h1>Original</h1>
      <ng-container
        *ngTemplateOutlet="changeTemplate; context: {direction: 'right', changes: changesInOriginal} "></ng-container>
    </div>
    <div class="col">
      <p>Changes of</p>
      <h1>Merged</h1>
      <ng-container
        *ngTemplateOutlet="changeTemplate; context: {changes: mergedChanges} "></ng-container>
    </div>
    <div class="col">
      <p>Changes of</p>
      <h1>Fork</h1>

      <ng-container
        *ngTemplateOutlet="changeTemplate; context: {direction: 'left', changes: changesInFork} "></ng-container>
    </div>
  </div>

  <ng-template #changeTemplate let-direction="direction" let-changes="changes">
    <div>
      <div
        *ngFor="let diff of changes; let i = index"
        class="row track-diff"
        [class.flex-row-reverse]="direction === 'right'">
        <div class="col-1 d-flex">
          <div class="line-number">
            {{i + 1}}
          </div>
          <div class="actions d-flex" *ngIf="diff[0] !== 0 && direction">
            <fa-icon [icon]="determineAddBackIcon(direction)" (click)="onAddBackAction(diff, i)"></fa-icon>
            <fa-icon *ngIf="diff[0] === -1" [icon]="keepRemovedIcon" (click)="onKeepRemoved(diff)"></fa-icon>
          </div>
        </div>
        <div
          [ngClass]="determineCSSClass(diff)"
          class="col border-bottom"
        >
          {{diff[1].track.name}}, {{diff[0]}}
          <div> {{diff[1].track.id}}</div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
