.equal {
  background: white;
}

.removed {
  background: #e59494;

  fa-icon {
    color: dimgray;
    transition: color 250ms ease-out;
    &:hover {
      color: white;
    }
  }
}

.inserted {
  background: #92e592;
}

.actions-container{
  background: gainsboro;
}

.line-number {
  color: #646464;
}
