<div class="w-full h-full">
  <div class="flex overflow-hidden">
    <div class="hidden lg:block">
      <div class="leftmenu-wrapper" [class.hide]="isLeftMenuClosed">
        <router-outlet name="navigation-items"></router-outlet>
      </div>
    </div>
    <div class="main-container" (scroll)="onMainContentScroll($event.currentTarget)">
      <div
        class="toolbar navbar sticky top-0 z-40 border-b border-base-200 backdrop-blur-sm transition-all duration-500"
        #toolbar>
        <div class="gap-3 navbar-start">
          <button aria-label="Side Menu Toggle" class="btn btn-sm btn-square btn-ghost text-lg">
            <span class="w-full hidden lg:inline" (click)="toggleLeftMenu()">
              <ng-icon [name]="isLeftMenuClosed ? 'cssChevronRight' : 'cssChevronLeft'"></ng-icon>
            </span>
            <span class="w-full inline lg:hidden" (click)="toggleMobileMenu()">
              <ng-icon name="cssMenu" class="text-lg"></ng-icon>
            </span>
          </button>
        </div>
        <div class="navbar-center"></div>
        <div class="gap-1.5 navbar-end">
          @if (userState.isLoggedIn && currentUser) {
            <div class="dropdown dropdown-bottom dropdown-end">
              <label tabindex="0" class="btn btn-ghost rounded-btn px-1.5 hover:bg-base-content/20">
                  <div class="flex items-center gap-4">
                    @if (currentUser.images) {
                      <div aria-label="Avatar photo" class="avatar">
                        <div
                          class="mask"
                          style="width: 40px; height: 40px;"
                        >
                          <img [src]="currentUser.images[1].url" alt="Profile Picture" />
                        </div>
                      </div>
                    }
                    <p>{{ currentUser.display_name }}</p>
                  </div>
              </label>
              <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box mt-4 w-52" role="menu">
                <li routerLink="/apps/account">
                  <div>
                    <ng-icon name="cssUser" class="text-lg"></ng-icon>
                    My Profile
                  </div>
                </li>
                <li routerLink="/apps/account/settings">
                  <div>
                    <ng-icon name="faSolidGears" class="text-lg"></ng-icon>
                    Account Settings
                  </div>
                </li>
                <hr class="-mx-2 my-1 border-base-content/10">
                <li (click)="logout()">
                  <div class="text-error">
                    <ng-icon name="cssLogOut" class="text-lg"></ng-icon>
                    Logout
                  </div>
                </li>
              </ul>
            </div>
          } @else {
            <button class="btn btn-primary btn-sm w-28" (click)="this.authService.initializeAuthorizitionFlow()">Log
              In
            </button>
          }
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-offcanvas
  position="left"
>
  <div body>
    <router-outlet name="navigation-items"></router-outlet>
  </div>
</app-offcanvas>
