<app-inner-page title="Spotify login">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>Getting Started</h2>
        <p>Get up to speed fast!</p>
      </div>

      <p>
        To get started we need to connect your Spotify account. This is very easy, just follow the steps on the
        screen!<br>
        You can use the website after.
      </p>
      <p class="text-right mt-3">
        <a [href]="authenticationUrl" class="btn btn-primary"><fa-icon [icon]="spotify" size="2x"><br>Authenticate</fa-icon> </a>
      </p>


    </div>
  </section><!-- End About Section -->


</app-inner-page>
