/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  min-height: 100vh;
  transition: all 0.5s;
  background: rgba(42, 44, 57, 0.9);
}

.navbar-brand h1{
  font-size: 28px !important;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;

  a {
    color: #fff;
    text-decoration: none;
  }

  img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */

.nav-item, .nav-item .nav-link {
  display: block;
  position: relative;
  color: #fff;
  padding: 5px 15px 7px 15px;
  margin-left: 5px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 50px;
  font-family: "Open Sans", sans-serif;
}


.nav-link:hover, .nav-item .active, .active .nav-link {
  background: getColor('primary');
  text-decoration: none;
}
