<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="">
      <img src="assets/img/Logo.png" alt=""/>
    </a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <fa-icon class="text-white fs-3" [icon]="hamburgerIcon"></fa-icon>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse navbarSupportedContent">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <ng-template ngFor let-route [ngForOf]="routes">
          <ng-container *ngIf="shouldRouteBeShown(route)">
            <ng-container *ngIf="route.children; else noChildren">
              <li class="nav-item" ngbDropdown>
                <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
                  {{route.title}}
                </a>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu bg-white">
                  <a ngbDropdownItem *ngFor="let child of route.children"
                     routerLink="{{route.path}}/{{child.path}}">{{child.title}}</a>
                </div>
              </li>
            </ng-container>
          </ng-container>
          <ng-template #noChildren>
            <li class="nav-item" *ngIf="route.isVisible" routerLinkActive="active">
              <a class="nav-link" [routerLink]="route.path">{{route.title}}</a>
            </li>
          </ng-template>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
