@if (track) {
  <div
    class="spotify-track-container bg-base-300 rounded-lg overflow-hidden flex"
    [ngClass]="{'flex-row': isHorizontalLayout, 'flex-col': !isHorizontalLayout, 'flex-row-reverse': reverse}">
    <div>
      <a [href]="track.external_urls.spotify" target="_blank">
        <img [className]="imageClasses" [src]="coverImage" alt="Track cover image" />
      </a>
    </div>

    <div
      class="p-3 flex-1 flex justify-between items-center"
      [class.flex-row-reverse]="reverse"
    >
      <div>
        <h3 [class.text-right]="reverse">
          {{ ranking ? ranking + '. ' : '' }}{{ track.name }}
        </h3>
        <p [class.text-right]="reverse">{{ artists }}</p>

        @if (showPreview && previewUrl) {
          <div class="flex items-center mt-3">
            <button class="btn btn-accent btn-sm glass" (click)="togglePreview()">
              <fa-icon [icon]="previewPlayIcon"></fa-icon>
            </button>
            <progress class="ml-2 progress progress-accent" #progressBar value="0" max="100"></progress>
          </div>
          <audio #audioElement (timeupdate)="updatePreviewProgressBar()" [src]="previewUrl"></audio>
        }

      </div>
      <ng-content></ng-content>
    </div>
  </div>
}
