<a class="flex h-16 items-center justify-center" routerLink="/">
  <div class="inline p-4">
    <img alt="logo-dark" class="hidden dark:inline" src="assets/logo-white.svg" />
    <img alt="logo-light" class="inline dark:hidden" src="assets/logo-black.svg" />
  </div>
</a>

<div class="navigation-items-container">
  <div class="simplebar-wrapper" style="margin: 0px;">
    <div class="simplebar-height-auto-observer-wrapper">
      <div class="simplebar-height-auto-observer"></div>
    </div>
    <div class="simplebar-mask">
      <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
        <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content"
             style="height: auto; overflow: hidden scroll;">
          <div class="simplebar-content" style="padding: 0px;">
            <ul class="menu mb-6">
              <li class="mb-0.5">
                <a class="hover:bg-base-content/15 bg-base-content/10" href="/dashboards/ecommerce">
                <div class="flex items-center gap-2">
                  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                       role="img" font-size="18" width="1em" height="1em" viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                       stroke-width="2">
                      <path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path>
                      <path d="m12 15l5 6H7l5-6z"></path>
                    </g>
                  </svg>
                  Dashboard
                </div>
              </a>
              </li>
              <li class="menu-title font-semibold">Apps</li>
              <li class="mb-0.5">
                <details>
                  <summary>
                    <div class="flex items-center gap-2">
                      <svg xmlns="http://www.w3.org/2000/svg"
                           aria-hidden="true" role="img" font-size="18" width="1em" height="1em" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                           stroke-width="2">
                          <path
                            d="m7.5 4.27l9 5.15M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z"></path>
                          <path d="m3.3 7l8.7 5l8.7-5M12 22V12"></path>
                        </g>
                      </svg>
                      Ecommerce
                      <div class="ms-0 rounded bg-base-content/10 px-1.5 py-[3px] text-[12px]/none opacity-70">Pro</div>
                    </div>
                  </summary>
                  <ul>
                    <li class="mb-0.5"><a class="hover:bg-base-content/15" href="/apps/ecommerce/orders">
                      <div class="flex items-center gap-2">Orders
                        <div class="ms-0 rounded bg-base-content/10 px-1.5 py-[3px] text-[12px]/none opacity-70">Pro
                        </div>
                      </div>
                    </a>
                    </li>
                    <li class="mb-0.5"><a class="hover:bg-base-content/15" href="/apps/ecommerce/orders/1">
                      <div class="flex items-center gap-2">Order Detail
                        <div class="ms-0 rounded bg-base-content/10 px-1.5 py-[3px] text-[12px]/none opacity-70">Pro
                        </div>
                      </div>
                    </a>
                    </li>
                    <li class="mb-0.5"><a class="hover:bg-base-content/15" href="/apps/ecommerce/products">
                      <div class="flex items-center gap-2">Products
                        <div class="ms-0 rounded bg-base-content/10 px-1.5 py-[3px] text-[12px]/none opacity-70">Pro
                        </div>
                      </div>
                    </a>
                    </li>
                    <li class="mb-0.5"><a class="hover:bg-base-content/15" href="/apps/ecommerce/sellers">
                      <div class="flex items-center gap-2">Sellers
                        <div class="ms-0 rounded bg-base-content/10 px-1.5 py-[3px] text-[12px]/none opacity-70">Pro
                        </div>
                      </div>
                    </a>
                    </li>
                    <li class="mb-0.5"><a class="hover:bg-base-content/15" href="/apps/ecommerce/customers">
                      <div class="flex items-center gap-2">Customers
                        <div class="ms-0 rounded bg-base-content/10 px-1.5 py-[3px] text-[12px]/none opacity-70">Pro
                        </div>
                      </div>
                    </a>
                    </li>
                    <li class="mb-0.5"><a class="hover:bg-base-content/15" href="/apps/ecommerce/shops">
                      <div class="flex items-center gap-2">Shops
                        <div class="ms-0 rounded bg-base-content/10 px-1.5 py-[3px] text-[12px]/none opacity-70">Pro
                        </div>
                      </div>
                    </a>
                    </li>
                  </ul>
                </details>
              </li>
              <li class="mb-0.5"><a class="hover:bg-base-content/15" href="/apps/file-manager">
                <div class="flex items-center gap-2">
                  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                       role="img" font-size="18" width="1em" height="1em" viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                       stroke-width="2">
                      <rect width="20" height="8" x="2" y="2" rx="2" ry="2"></rect>
                      <rect width="20" height="8" x="2" y="14" rx="2" ry="2"></rect>
                      <path d="M6 6h.01M6 18h.01"></path>
                    </g>
                  </svg>
                  File Manager
                  <div class="ms-0 rounded bg-base-content/10 px-1.5 py-[3px] text-[12px]/none opacity-70">Pro</div>
                </div>
              </a>
              </li>
              <li class="mb-0.5"><a class="hover:bg-base-content/15" href="/apps/chat">
                <div class="flex items-center gap-2">
                  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                       role="img" font-size="18" width="1em" height="1em" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2"
                          d="M14 9a2 2 0 0 1-2 2H6l-4 4V4c0-1.1.9-2 2-2h8a2 2 0 0 1 2 2v5Zm4 0h2a2 2 0 0 1 2 2v11l-4-4h-6a2 2 0 0 1-2-2v-1"></path>
                  </svg>
                  Chat
                  <div class="ms-0 rounded bg-base-content/10 px-1.5 py-[3px] text-[12px]/none opacity-70">Pro</div>
                </div>
              </a>
              </li>
              <li class="menu-title font-semibold">Other</li>
              <li class="mb-0.5"><a class="hover:bg-base-content/15" href="/docs/introduction">
                <div class="flex items-center gap-2">
                  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                       role="img" font-size="18" width="1em" height="1em" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2"
                          d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2zm20 0h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7zM6 8h2m-2 4h2m8-4h2m-2 4h2"></path>
                  </svg>
                  Documentation
                </div>
              </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="simplebar-placeholder" style="width: 239px; height: 526px;"></div>
  </div>
</div>
