<ul class="nav nav-tabs row d-flex mb-5">
  <li class="nav-item col-3" data-aos="zoom-in">
    <div class="nav-link">
      <a class="font-weight-bold" [routerLink]="['./account']">
        <fa-icon [icon]="account" class="mr-0 mr-md-2"></fa-icon>
        <span class="d-none d-lg-inline">Account</span>
      </a>
    </div>
  </li>
  <li class="nav-item col-3" data-aos="zoom-in">
    <div class="nav-link">
      <a class="font-weight-bold" [routerLink]="['./merge']">
        <fa-icon [icon]="playlist" class="mr-0 mr-md-2"></fa-icon>
        <span class="d-none d-lg-inline">Playlists Merger</span>
      </a>
    </div>
  </li>
  <li class="nav-item col-3" data-aos="zoom-in">
    <div class="nav-link">
      <a class="font-weight-bold" [routerLink]="['./compare']">
        <fa-icon [icon]="compare" class="mr-0 mr-md-2"></fa-icon>
        <span class="d-none d-lg-inline">Playlists Comparer</span>
      </a>
    </div>
  </li>
</ul>


