<app-error [error]="error"></app-error>
<section>
  <div class="section-title">
    <h2>Fork a playlist</h2>
    <p>Do you like a someone's playlist but want to remove some songs from it? Now you can!<br/>
      With this page you can create a copy of this playlist. After that, you can sync remove the songs you dislike. <br>
      This copied playlist can then be synchronized with the original with a press of a button, so you can keep up with the newest songs!</p>
  </div>

  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <input type="text" required class="form-control mb-5" placeholder="New playlist name" name="newPlaylist"
               [(ngModel)]="playlistName">
      </div>
      <div class="col-3 text-right">
        <fa-icon [icon]="refreshIcon" (click)="getPlaylists()" size="lg" [spin]="isLoading"></fa-icon>
      </div>
    </div>


    <div *ngIf="playlists">
      <div class="row m-4">
        <div class="col-12 col-md-4 mt-3" *ngFor="let playlist of playlists.items; let indexOfPlaylist = index">
          <app-box
            [image]="playlist.images[0] ? playlist.images[0].url : 'https://picsum.photos/200/200?random=' + indexOfPlaylist"
          >
            <h4 class="title mt-3 text-center text-break"><a [href]="playlist.external_urls.spotify"
                                                             target="_blank">{{playlist.name}}</a></h4>
            <p class="description text-center">Owner: {{playlist.owner.display_name}}</p>
            <div class="row mt-3">
              <div class="col d-flex justify-content-center">
                <div class="custom-control custom-checkbox">
              <!--    <input type="checkbox" class="custom-control-input" id="customCheck{{indexOfPlaylist}}"
                         [value]="playlist.id" (change)="registerPlaylist(playlist.id, $event)">
                  <label class="custom-control-label" for="customCheck{{indexOfPlaylist}}"></label>-->
                </div>
              </div>
            </div>
          </app-box>
        </div>
      </div>
      <div *ngIf="playlists.next" class="text-center">
        <p class="btn btn-link" (click)="getMorePlaylists()">Load more results..
          <fa-icon *ngIf="isLoading" [icon]="loading" [spin]="true"></fa-icon>
        </p>

      </div>
    </div>
    <div class="d-flex justify-content-center">
      <fa-icon *ngIf="isLoading" [icon]="loading" [spin]="true" size="lg"></fa-icon>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button class="btn btn-primary" type="submit">Merge!</button>
    </div>
  </form>
</section>
