<app-error [error]="error"></app-error>
<section>
  <div class="section-title">
    <h2>It's time to change it up!</h2>
    <p>Fork a playlist</p>
  </div>
  <p>Do you like a someone's playlist but want to remove some songs from it? Now you can!<br/>
    With this page you can create a copy of this playlist. After that, you can remove the songs you dislike in Spotify. <br>
    This copied playlist can then be synchronized with the original with a press of a button, so you can keep up with
    the newest songs!</p>
  <form #form="ngForm">
    <div *ngIf="playlists">
      <div class="row m-4">
        <div class="col-12 col-md-4 mt-3" *ngFor="let playlist of playlists.items; let indexOfPlaylist = index">
          <app-box
            [image]="playlist.images[0] ? playlist.images[0].url : 'https://picsum.photos/200/200?random=' + indexOfPlaylist"
          >
            <h4 class="title mt-3 text-center text-break"><a [href]="playlist.external_urls.spotify"
                                                             target="_blank">{{playlist.name}}</a></h4>
            <p class="description text-center">Owner: {{playlist.owner.display_name}}</p>
            <div class="row mt-3">
              <div class="col d-flex justify-content-center">
                <div class="custom-control custom-checkbox">
                  <button class="btn btn-primary" type="button" (click)="forkPlaylist(playlist.id)">
                    <fa-icon [icon]="forkIcon"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </app-box>
        </div>
      </div>
      <div *ngIf="playlists.next" class="text-center">
        <p class="btn btn-link" (click)="getMorePlaylists()">Load more results..
          <fa-icon *ngIf="isLoading" [icon]="loading" [spin]="true"></fa-icon>
        </p>

      </div>
    </div>
    <div class="d-flex justify-content-center">
      <fa-icon *ngIf="isLoading" [icon]="loading" [spin]="true" size="lg"></fa-icon>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button class="btn btn-primary" type="submit">Merge!</button>
    </div>
  </form>
</section>
