<div *ngIf="playlists">
  <div class="row mt-7 gx-xl-7">
    <div class="col-md-4 text-center text-md-start h-auto mb-5"
         *ngFor="let playlist of playlists.items; let indexOfPlaylist = index"
         data-aos="fade-up">
      <app-box
        [image]="getImage(playlist, indexOfPlaylist)"
      >
        <div>
          <div class="d-flex align-items-center justify-content-center justify-content-md-start gap-2 mt-3 mb-0">
            <p class="fw-bold mb-0">
              <a class="text-black" [href]="playlist.external_urls.spotify">{{playlist.name}}</a>
            </p>
            <p class="mb-0">
              <a class="text-muted" [href]="playlist.owner.external_urls.spotify">
                By: {{playlist.owner.display_name}}
              </a>
            </p>
          </div>
          <h5 class="mt-1 mb-3 fs-0 fs-md-1" [innerHTML]="playlist.description"></h5>
          <div class="col d-flex justify-content-center" (click)="onActionClick(playlist)">
            <ng-container *ngTemplateOutlet="action"></ng-container>
          </div>
        </div>
      </app-box>
    </div>
  </div>
  <div data-aos="fade-up" *ngIf="playlists.next" (click)="requestMorePlaylists()"
       class="d-flex justify-content-center mb-3">
    <app-button [classes]="['btn-outline-dark']" text="Load More"></app-button>
  </div>
</div>
