<div class="navbar bg-base-200 border-b border-b-accent">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" routerLink="/">Spotify Manager</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/get-started" routerLinkActive="active-link">Get Started</a></li>
      @if (spotifyAuthService.isLoggedIn()) {
        <li><a routerLink="/account" routerLinkActive="active-link">Account</a></li>
        <li><a routerLink="/remix" routerLinkActive="active-link">Remix Playlist</a></li>
        <li><a routerLink="/remix-overview" routerLinkActive="active-link">Remix Overview</a></li>
      }
      <li>
        <details>
          <summary>
            Parent
          </summary>
          <ul class="p-2 bg-base-100 rounded-t-none">
            <li><a>Link 1</a></li>
            <li><a>Link 2</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
