<div class="navbar bg-base-200 border-b border-b-accent">
  <div class="navbar-start">
    <a class="btn btn-ghost text-xl" routerLink="/">Spotify Manager</a>
  </div>
  <div class="navbar-center hidden lg:flex">
  </div>
  <div class="navbar-end">
    <div class="dropdown dropdown-end md:hidden">
      <div tabindex="0" role="button" class="btn btn-ghost">
        <fa-icon class="h-5 w-5" [icon]="hamburgerMenuIcon"></fa-icon>
      </div>
      <ul tabindex="0" class="mobile-menu menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded w-52">
        <li><a routerLink="/get-started" routerLinkActive="active-link">Get Started</a></li>
        @if (spotifyAuthService.isLoggedIn()) {
          <li><a routerLink="/account" routerLinkActive="active-link">Account</a></li>
          <li><a routerLink="/remix" routerLinkActive="active-link">Remix Playlist</a></li>
          <li><a routerLink="/remix-overview" routerLinkActive="active-link">Remix Overview</a></li>
        }
      </ul>
    </div>
    <ul class="menu menu-horizontal px-1 hidden md:flex">
      <li><a routerLink="/get-started" routerLinkActive="active-link">Get Started</a></li>
      @if (spotifyAuthService.isLoggedIn()) {
        <li><a routerLink="/account" routerLinkActive="active-link">Account</a></li>
        <li><a routerLink="/remix" routerLinkActive="active-link">Remix Playlist</a></li>
        <li><a routerLink="/remix-overview" routerLinkActive="active-link">Remix Overview</a></li>
      }
    </ul>
  </div>
</div>
