<div class="container mx-auto mt-3">
  <h1>
    Account <a routerLink="settings" class="text-gray-500 hover:text-gray-400 transition ms-4"><ng-icon name="faSolidGears"></ng-icon></a>
    @if (isLoading) {
      <app-loading size="lg" class="ml-3"></app-loading>
    }
  </h1>
  <p>See your own account and statistics here!</p>
  <div class="grid grid-cols-1 lg:grid-cols-2 mt-5">
    <div class="p-3">
      <h3 class="mb-3">Your Account</h3>
      @if (accountInformation) {
        <app-spotify-user [user]="accountInformation"></app-spotify-user>
      } @else {
        <p class="text-gray-500">No account information found.</p>
      }
      <div class="flex mt-4 mb-3 justify-between">
        <h3>Your Top Tracks</h3>
        <select class="select select-bordered select-sm" [(ngModel)]="selectedTimeRangeForSongStats" (change)="onTimeRangeChangedForTracks()">
          <option value="short_term">Last 4 Weeks</option>
          <option value="medium_term">Last 6 Months</option>
          <option value="long_term">Last Year</option>
        </select>
      </div>
      <div class="grid grid-cols-2 gap-2">
        @for (track of topTracksList; track track.id; let index = $index) {
          <app-spotify-track
            data-aos="fade"
            data-aos-delay="150"
            [track]="track"
            [ranking]="index + 1"></app-spotify-track>
        }
      </div>
    </div>
    <div class="p-3">
      <div>
        <div class="mb-3 flex justify-between">
          <h3>Your Top Artists</h3>
          <select class="select select-bordered select-sm" [(ngModel)]="selectedTimeRangeForArtistsStats" (change)="onTimeRangeChangedForArtists()">
            <option value="short_term">Last 4 Weeks</option>
            <option value="medium_term">Last 6 Months</option>
            <option value="long_term">Last Year</option>
          </select>
        </div>
        @for (artist of topArtistsList; track artist.id; let index = $index) {
          <div class="mb-2">
            <app-spotify-artist
              data-aos="fade"
              data-aos-delay="100"
              class="my-2"
              [artist]="artist"
              [ranking]="index + 1"></app-spotify-artist>
          </div>
        }
      </div>
    </div>
  </div>
</div>
