<app-error [error]="error"></app-error>
<section>
  <div class="section-title">
    <h2>It's time to catch up!</h2>
    <p>Sync forked playlists</p>
  </div>
  <p>You can use this page to synchronize a playlist you forked earlier to it's original. Pick for each added / removed
    song in the original what you would like to do: add it (back) or not</p>

  <app-playlist-overview [playlists]="playlists" (actionClick)="onActionClick($event)">
    <ng-template #action><button type="button" class="btn btn-primary">Synchronize</button></ng-template>
  </app-playlist-overview>

  <div class="d-flex justify-content-center">
    <fa-icon *ngIf="isLoading" [icon]="loading" [spin]="true" size="lg"></fa-icon>
  </div>
</section>
