<section class="container mx-auto px-4">
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/4">
      <h3 class="text-xl font-bold mb-4">Guide</h3>
      <ul class="list-none pl-0">
        <li class="mb-2">Connect</li>
        <li class="mb-2">Remixing a playlist TODO</li>
      </ul>
    </div>
    <div class="w-full md:w-3/4">
      <h1 class="text-xl font-bold mb-4">Connecting your account</h1>
      <p class="mb-4">
        To get started we need to connect your Spotify account. <br>
        This is very easy, just click the button below and follow the steps on the screen!<br>
        After logging in you will be redirected back to this website, which you can then use.
      </p>
      <p class="flex justify-end mt-3" data-aos="fade">
        <button class="btn btn-primary" (click)="login()">Authenticate</button>
      </p>
    </div>
  </div>
</section>
